$color-primary-btn: #e7873c;
$color-heading: #707070;
$color-para: #696969;
$color-heading-light: #5b5b5b;
$color-white: #fff;
$color-red: #db3832;
$color-green: #00a158;
$color-btn-hover: black;
$color-border: #e9e9e9;

// Font Size
$heading-font-size: 24px;
$para-font-size: 20px;
$eader-link-font-size: 18px;
$footer-link-font-size: 12px;
